@font-face {
	font-family: "Basier Square";
	src: url("../../public/fonts/basiersquare-regular-webfont.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Basier Square";
	src: url("../../public/fonts/basiersquare-regularitalic-webfont.woff2")
		format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Basier Square";
	src: url("../../public/fonts/basiersquare-medium-webfont.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Basier Square";
	src: url("../../public/fonts/basiersquare-semibold-webfont.woff2")
		format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Basier Square";
	src: url("../../public/fonts/basiersquare-bold-webfont.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

:root {
	/* Header */
	--header-height: 120px;

	--modal-width: 80%;
	--modal-height: 80%;

	/* About */
	--about-text-size: 1.2rem;
	--about-header-h3-size: 2rem;
	--about-header-h2-size: 6rem;

	--about-header-text-size: 1.8rem;
	--about-team-title-size: 1.3rem;
	--about-text-size: 1.2rem;

	/* PROJECTS */
	--thumbnail-width: 49.5%;
	--thumbnail-height: 100%;
	--thumbnail-image-height: none;

	--thumbnail-order: wrap;

	/* FILTER */
	--filter-item-margin: var(--global-whitespace-xxs);

	/* white-space */
	--global-baseline: calc(1rem / 3);
	--global-whitespace-xxs: var(--global-baseline);
	--global-whitespace-xs: calc(var(--global-baseline) * 2);
	--global-whitespace-sm: calc(var(--global-baseline) * 3);
	--global-whitespace-md: calc(var(--global-baseline) * 4);
	--global-whitespace-lg: calc(var(--global-baseline) * 5);
	--global-whitespace-xl: calc(var(--global-baseline) * 6);

	--global-icon-size: 30px;
}

@media only screen and (max-width: 1200px) {
	:root {
		/* ABOUT */
		--about-text-size: 1.2rem;
		--about-header-h3-size: 1.5rem;
		--about-header-h2-size: 3.5rem;

		--about-header-text-size: 1.4rem;
		--about-team-title-size: 1rem;

		/* PROJECTS */
		--thumbnail-width: 49.5%;
		--thumbnail-height: 400px;
		--thumbnail-order: wrap;
		--thumbnail-order-direction: row;

		--thumbnail-image-height: none;

		/* FILTER */
	}
}

@media only screen and (max-width: 768px) {
	:root {
		/* ABOUT */
		--about-text-size: 1.2rem;
		--about-header-h3-size: 1.5rem;
		--about-header-h2-size: 3rem;

		--about-team-title-size: 1rem;

		/* PROJECTS */
		--thumbnail-width: 99%;
		--thumbnail-height: 300px;
		--thumbnail-order-direction: column;
		--thumbnail-order: no-wrap;

		--thumbnail-image-height: none;
	}
}

@media only screen and (max-width: 425px) {
	:root {
		/* ABOUT */
		--about-text-size: 0.7rem;
		--about-header-h3-size: 0.75rem;
		--about-header-h2-size: 1.5rem;

		--about-header-text-size: 1.4rem;
		--about-text-size: 0.8rem;
		--about-team-title-size: 1.1rem;

		--thumbnail-image-height: 100%;
		--thumbnail-height: 200px;
		--thumbnail-order: no-wrap;

		--filter-item-margin: var(--global-whitespace-xxs);
	}
}

@media screen and (max-width: 768px) {
	:root {
		--header-height: 80px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: "Basier Square", sans-serif;
	height: 100vh;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	height: 100vh;
}

body {
}
